body
{
	margin: 0px; padding: 0px;
	background-color: #333;
	color: #ccc;
	font-family: Verdana;
	font-size: 12pt;
}
.link a
{
	display: block; /* Ссылка как блочный элемент */
    text-align: middle; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: #ccc; /* Цвет ссылки */
    text-decoration: none;
    outline: none; /* Убираем границу вокруг ссылок  */
}
#main
{
	margin: 20px auto;
	max-width: 1300px; min-width: 5px;
	overflow: hidden;
}
article.main
{
	background-color: #00f;
	color: #eee;
	font-size: 50pt;
	position: fixed;
	width: 100%;
}
#elementright
{
	float: right;
	margin-top: 25px;
}
a.rollover
{
    background: url(../img/sun1.png); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 196px; /* Ширина рисунка */
    height: 183px; /*  Высота рисунка */
    /*right: 600px;*/
    margin: auto;
}
a.rollover:hover
{
    background: url(../img/sun2.png); /* Путь к файлу с заменяемым рисунком  */
}
.center
{
    width: 33%; /* Ширина элемента в пикселах */
    
    /*background: #ccc; /* Цвет фона - #fc0*/
    /*height: 33%;*/
    float: left;/* блоки <div> будут располагаться в строку*/
}
#innerdiv
{
	padding: 20px; /* Поля вокруг текста */
    /*margin: 20px auto; /* Выравниваем по центру */
    margin: 20px;
    border: 2px solid #ccc;
}
 .img
{
    /*background: url(../img/sun1.png); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 100%; /* Ширина рисунка */
    height: 100%; /*  Высота рисунка */
    /*right: 600px;*/
    margin: auto;
}
/**************************************/
/* ****Google fonts*** */
#google-fonts-pt
{
    font-family: 'PT-sans';
    font-size: 17px;
    padding-left: 10px;
}
/* ****** /Google fonts ***/
/***************************************/

/* ***** Links1 ***** */
#link1
{
    color: #ccc; /* Цвет ссылки */
    text-decoration: none;
    outline: none; /* Убираем границу вокруг ссылок  */
    font-family: Verdana; /* Шрифт ссылки в этом месте */
    margin: 10px;

}
#link1:hover
{
    color: #333;
    text-decoration: underline;
    background-color: #ccc;
}
/* /Links1 */

/* Li1 */
#li1
{
color: #808000;
font-size: 17px;
/*font-family: 'PT-sans';*/
}

/* **** /Li1 ******** */

#span1
{
    margin: 40px;
    font-size: 20px;
}